@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid red; */
}

.container {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    /* min-height: 100vh; */
}

#content-heading {
    color: #121212;
    margin: 25px auto;
    width: 100%;
    padding: 0 12px;
    font-weight: 900;
    font-size: 45px;
}

.link-list {
    padding: 8px;
    display: block;
    font-size: 25px;
    text-align: start;
    font-weight: 400;
    color: #252525;
}

.link-list  ul, li, a {
    text-decoration: none;
    /* list-style-position: inside; */
    /* list-style: none; */
}

/* a:hover {
    color: blueviolet;
} */

a:visited {
    color: #252525;
}

body {
    background-image: linear-gradient(to right, #73a9ad, #90c8ac, #c4dfaa);
}